numpy>=1.24.0
pandas>=2.0.0
python-dotenv>=1.0.0
requests>=2.31.0
tqdm>=4.66.0
sqlalchemy>=2.0.0
sqlalchemy-access>=2.0.0
transformers>=4.35.0
torch>=2.0.0
seaborn>=0.13.0
scikit-learn>=1.3.0
wandb>=0.16.0
joblib>=1.3.0
pyyaml>=6.0.0
optuna>=3.5.0
upsetplot>=0.9.0
biopython>=1.83
torchdata>=0.7.0
dgl>=1.1.0
rdkit>=2023.9.1
pubchempy>=1.0.4
matplotlib>=3.8.0
py3Dmol>=2.0.0